__pycache__
.venv
*_lab
# So one can have different "labs" for exploration without having to untrack them manually
processed 
full
com.aniplex.magia.exedra.en
# processed and full are for complete uncompressed data and temp data, can be created from main.py based off of com.aniplex.magia.exedra.en

